body{
    background-color: orange;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

#navbar{
    background-color: white
}

#signup-form{
    width: 250px;
    margin: auto;
    background-color: white

}

.nav-links{
    text-align: right;
}

.social-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#social a{
    text-decoration: none;
}